@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}
.section {
  @apply pt-20 xl:pt-20 2xl:pt-44;
}
.text-content {
  @apply dark:text-light-content text-dark-content;
}
body {
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* // SH */

.accordion:hover .accordion-content {
  max-height: 300px;
}

.accordion-content {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0;
}

.accordion-toggle {
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}